name: Reusable Labeler

on:
  workflow_call:
    inputs:
      config_path:
        type: string
        default: .github/labeler.yml
      skip_ci:
        type: boolean
        default: false

jobs:
  label:
    runs-on: ubuntu-latest
    if: ${{ !inputs.skip_ci }}
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v5
        with:
          configuration-path: ${{ inputs.config_path }}
